.custom-style{
    
    font-size:50px;
    color:rgb(7, 187, 37);
    border:2px solid rgb(28, 29, 29);
	
    -webkitbox-shadow:inset 0px 0.1em 0.1em rgba(0,0,0,0.3);
    -moz-box-shadow:inset 0px 0.1em 0.1em rgba(0,0,0,0.3);
    box-shadow:inset 0px 0.1em 0.1em rgba(0,0,0,0.3);
	
}

#myBtn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(20, 20, 20);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 100px;
  }

  a.adisabled {
    cursor: not-allowed;
    opacity: .65;
  }