<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-info modal-notify" role="document">
        <div class="modal-content">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            Carrinho
                        </div>
    
                        <div class="card-text">
                                <table class="table">
                                        <tr ng-show="order.cart.length">
                                            <th>Sabor</th>
                                            <th>Preço</th>
                                            <th>Borda</th>
                                            <th>Tamanho</th>
                                            <th>Total</th>
                                        </tr>
                                        <tr ng-repeat="item in order.cart track by $index">
                                                <td>{{item.sabor}}</td>
                                                <td>R$ {{item.price}}</td>
                                                <td>
                                                    <form action="">
                                                        <div class="form-row">
                                                            <div class="col-auto" ng-repeat="b in border">
                                                                <input type="radio" name="borda" value="{{b.preco}}"  class="checkradios custom-style" ng-click="order.setBorda($parent.item,b);order.verifySizesBorders()">
                                                                {{b.borda}}
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form action="">
                                                        <div class="form-row">
                                                            <div class="col-auto" ng-repeat="s in size">
                                                                <input type="radio" name="size" value="{{s.tamanho}}"  class="checkradios custom-style" ng-click="order.setTamanho($parent.item,s);order.verifySizesBorders()">
                                                                {{s.tamanho}}
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    R$ {{(!item.borda || !item.tamanho)?item.price:((item.price+item.borda.valor)*item.tamanho.peso).toFixed(2)}}
                                                </td>
                                            </tr>
                                </table>

                                <div class="row" >
                                    <div class="col-3"></div>
                                    <div class="col-6">
                                        <button class="btn btn-success"
                                                    ng-disabled="order.submitButton" 
                                                    style="width:100%;" 
                                                    ng-click="order.closeModal();order.go('/purchase')"
                                                    >
                                            
                                                Enviar
                                        </button>
                                    </div>
                                    <div class="col-3"></div>
                                </div>
                        </div>
                    </div>
        </div>
    </div>
</div>