<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-dark white-text">
                <h3 style="color: white">Seu pedido</h3>
            </div>

            <div class="card-body text-center">
                <p class="card-text">Seu tempo de entrega será de</p>
                <h3 class="card-title">{{time}}min</h3>
                
                <table class="table">
                    <tr ng-repeat="item in order">
                        
                        <td>{{item.sabor}}</td>
                        <td>{{item.borda.borda}}</td>
                        <td>{{item.tamanho.tamanho}} - R${{(item.borda.valor).toFixed(2)}}</td>
                        <td>
                            <table class="table table-borderless">
                                <tr ng-repeat="i in item.ingredientes">
                                    <td>{{i.ingrediente}}</td>
                                    <td>
                                        <h4>R${{(i.preco).toFixed(2)}}</h4>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <h3>R$ {{(!item.borda || !item.tamanho)?item.price:((item.price+item.borda.valor)*item.tamanho.peso).toFixed(2)}}</h3>
                        </td>
                    </tr>
                </table>

                <table>
                    <tr>
                        <td>
                            <h3>
                                Desconto
                            </h3>
                        </td>
                        <td>
                            <h3>
                                -R$ {{((time<40)?0:total()*0.1).toFixed(2)}}
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h2>
                                Total
                            </h2>
                        </td>
                        <td>
                            <h2>
                                    R${{((time>40)?total()*0.9:total()).toFixed(2)}}
                            </h2>
                        </td>
                    </tr>
                </table>
                
            </div>
        </div>
    </div>
</div>