<div class="card card-body">
        <div class="card-title">
            Selecione os sabores
        </div>
        <div class="card-text">
            <hr/>
            <div ng-repeat="pizza in list">
                <div class="pull-right">
                    <div class="price"> R$ {{price(pizza)}}</div>
                    <button type="button" ng-click="order.add(pizza)"
                            class="btn btn-success">
                        <span class="glyphicon glyphicon-plus"></span>
                        Selecionar
                    </button>
                </div>
                <h3>
                    {{pizza.sabor}}
                    
                </h3>
    
                <p>
                    <span ng-repeat="i in pizza.ingredientes">{{i.ingrediente}}<span ng-hide="$last">, </span></span>
                </p>
                <hr ng-hide="$last"/>
            </div>
        </div>
    </div>

    <button id="myBtn" data-toggle="modal" data-target="#cartModal">
            <i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i>
    </button>      
    <cart-list order="order" size="size" border="border"/>